<!DOCTYPE html>
<html>
<head>
    <title>采购合同变更</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
        <div>
				<label class="form-inline" />合同编号：<input type="text" class="form-control" v-model="q.htbh" @keyup.enter="query" >
				<label class="form-inline" />合同名称：<input type="text" class="form-control" v-model="q.htmc" @keyup.enter="query" >
				<label class="form-inline" />变更标题：<input type="text" class="form-control" v-model="q.bgbt" @keyup.enter="query" >
				<label class="form-inline" />申请人姓名：<input type="text" class="form-control" v-model="q.sqrxm" @keyup.enter="query" >

				<a class="btn btn-default form-inline" @click="query">查询</a>
			
			</div>
			<#if shiro.hasPermission("sys:cghtbg:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:cghtbg:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:cghtbg:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属项目名称</div>
                        <div class="col-sm-10">
                            <input type="text" readonly id="ssxmmc" class="form-control" v-model="cghtbg.ssxmmc" placeholder="所属项目名称"/>
                        </div>
                    </div>
							<!-- 				                    <div class="form-group">
                        <div class="col-sm-2 control-label">审批状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cghtbg.spzt" placeholder="审批状态"/>
                        </div>
                    </div> -->
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">合同名称</div>
                        <div class="col-sm-10">
                        	<div class="input-group">
	                            <input readonly type="text" id="htmc" class="form-control" v-model="cghtbg.htmc" placeholder="合同名称"/>
	                            <span class="input-group-addon" data-toggle="modal" data-target="#myModal4" >+</span>
                            </div>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">变更编号</div>
                        <div class="col-sm-10">
                            <input type="text" id="bgbh" readonly class="form-control" v-model="cghtbg.bgbh" placeholder="变更编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">变更标题</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cghtbg.bgbt" placeholder="变更标题"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">合同原金额</div>
                        <div class="col-sm-10">
                            <input readonly type="text" id="htyje" class="form-control" v-model="cghtbg.htyje" placeholder="合同原金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">本次变更金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cghtbg.bcbgje" placeholder="本次变更金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">申请人姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cghtbg.sqrxm" placeholder="申请人姓名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">变更后金额</div>
                        <div class="col-sm-10">
                            <input type="text" id="bghje" class="form-control" v-model="cghtbg.bghje" placeholder="变更后金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">乙方单位</div>
                        <div class="col-sm-10">
                        	<div class="input-group">
	                            <input readonly type="text" id="yfdw" class="form-control" v-model="cghtbg.yfdw" placeholder="乙方单位"/>
	                            <span class="input-group-addon" data-toggle="modal" data-target="#myModal3" >+</span>
                            </div>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">乙方联系人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cghtbg.yflxr" placeholder="乙方联系人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">变更金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cghtbg.bgje" placeholder="变更金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">变更原因</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cghtbg.bgyy" placeholder="变更原因"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" v-model="cghtbg.bz" placeholder="备注"></textarea>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            	选择乙方单位
                        </h4>
                    </div>
                    <div class="modal-body">
                     <div class="grid-btn">
                    	<div>
 							<label class="form-inline" />单位名称：<input type="text" v-model="yf.dwmc" class="form-control"  @keyup.enter="query3" >
 			
							</div>
						<a class="btn btn-default" @click="query3">查询</a>
						</div>
							
                         <table id="yfGrid"></table>
       					 <div id="yfGridPager"></div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" @click="saveyf" class="btn btn-primary">
                        		    确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
         </div>
         <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:850px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            选择采购合同
                        </h4>
                    </div>
                    <div class="modal-body">
                     <div class="grid-btn">
                    	<div>
			 				<label class="form-inline" />合同名称：<input type="text" class="form-control" v-model="ht.htmc" @keyup.enter="query4" >
						</div>
						<a class="btn btn-default" @click="query4">查询</a>
						</div>
							
                         <table id="htGrid"></table>
       					 <div id="htGridPager"></div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" @click="saveht" class="btn btn-primary">
                        		    确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
         </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/cghtbg.js?_${.now?long}"></script>
</body>
</html>