<!DOCTYPE html>
<html>
<head>
    <title>来款单登记</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
          <div class="row" >
			<div>
				 <label class="form-inline" />项目名称：<input class="form-control"  type="text"  v-model="q.xmmc" @keyup.enter="query" >	
				 <label class="form-inline" />项目负责人：<input class="form-control"  type="text"  v-model="q.xmfzr"  @keyup.enter="query">	
					<a class="btn btn-default form-inline" @click="query">查询</a>
			</div>
			</div>
			<#if shiro.hasPermission("sys:fyjklkddj:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:fyjklkddj:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:fyjklkddj:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">项目名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.xmmc" placeholder="项目名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.zt" placeholder="状态"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">项目负责人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.xmfzr" placeholder="项目负责人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">来款日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.lkrq" placeholder="来款日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">来款来源</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.lkly" placeholder="来款来源"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">来款金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.lkje" placeholder="来款金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">来款单位</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.lkdw" placeholder="来款单位"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">摘要</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.zy" placeholder="摘要"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.bz" placeholder="备注"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.cjr" placeholder="创建人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fyjklkddj.cjsj" placeholder="创建时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/fyjklkddj.js?_${.now?long}"></script>
</body>
</html>