<!DOCTYPE html>
<html>
<head>
    <title>劳务合同供应商</title>
		<#include "/header.html">
	
		
</head>
<body>
<div id="rrapp" v-cloak>
	<input type="hidden" id="filename"/>
    <div v-show="showList">
        <div class="grid-btn">
         <div class="row" >
			<div>
				 <label class="form-inline" />供应商名称：<input class="form-control"  type="text"  v-model="q.gysmc" @keyup.enter="query" >	
				 <label class="form-inline" />确认人：<input class="form-control"  type="text"  v-model="q.qrr"  @keyup.enter="query">	
						
						<a class="btn btn-default form-inline" @click="query">查询</a>
			
			</div>
			</div>
			
			<#if shiro.hasPermission("sys:lwhtgys:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:lwhtgys:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:lwhtgys:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
							
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">供应商名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.gysmc" placeholder="供应商名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">项目编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.xmbh" placeholder="项目编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">法人姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.frxm" placeholder="法人姓名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">股东姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.gdxm" placeholder="股东姓名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">供应商类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.gyslx" placeholder="供应商类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">纳税人类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.nsrlx" placeholder="纳税人类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">合同类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.htlx" placeholder="合同类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户银行</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.khyh" placeholder="开户银行"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">银行账号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.yhzh" placeholder="银行账号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户许可证</div>
                        <div class="col-sm-10">
                            <input type="hidden" id="khxkz" class="form-control"  v-model="lwhtgys.khxkz" placeholder="开户许可证"/>
                        	<a class="btn btn-primary" onclick="Modify('khxkz')">上传</a>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">营业执照</div>
                        <div class="col-sm-10">
                            <input type="hidden" id="yyzz" class="form-control" v-model="lwhtgys.yyzz" placeholder="营业执照"/>
                       		<a class="btn btn-primary" onclick="Modify('yyzz')">上传</a>
                       		
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">资质证明</div>
                        <div class="col-sm-10">
                            <input type="hidden" id="zzzm" class="form-control" v-model="lwhtgys.zzzm" placeholder="资质证明"/>
                      		<a class="btn btn-primary" onclick="Modify('zzzm')">上传</a>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">企业信用查询结果</div>
                        <div class="col-sm-10">
                            <input type="hidden" id="qyxycx" class="form-control" v-model="lwhtgys.qyxycx" placeholder="企业信用查询结果"/>
                       		<a class="btn btn-primary" onclick="Modify('qyxycx')">上传</a>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="lwhtgys.bz" placeholder="备注"/>
                        </div>
                    </div>
								
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            选择附件
                        </h4>
                    </div>
                    <div class="modal-body">
                     <div class="grid-btn">
                    	
							
                         <table id="fiGrid">
                         	<form id= "uploadForm" >  
						      <input type="hidden" id="scxmId"  />
 						      <p >上传文件： <input  type="file" name="file1" id="file1"  multiple="multiple"  /></p> 
 						     <p > <input  type="file" name="file2" id="file2"  multiple="multiple"  /></p> 
 						      	<p > <input   type="file" name="file3" id="file3"  multiple="multiple"  /></p>
 						      	<p > <input  type="file" name="file4" id="file4"  multiple="multiple"  /></p>
 						      	<p > <input   type="file" name="file5" id="file5"  multiple="multiple"  /></p>					      						    
							  <input type="button" name="button" value="添加附件" onclick="addInput()">
							<input type="button" name="button" value="删除附件" onclick="deleteInput()">
							<span id="upload"></span>
						</form> 
                         </table>
       					 <div id="fiGridPager"></div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" @click="doUpload" class="btn btn-primary">
                        		    确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal  $("input[name='FORMID']").val(); -->
        </div>
    
    
    </div>
       <div class="modal fade" id="downModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            	下载文件
                        </h4>
                    </div>
                    <div class="modal-body">
                     <div class="grid-btn">
                    	
							
                         <table id="downlist">
                        
                         </table>
       					
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                      
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal  $("input[name='FORMID']").val(); -->
        </div>
    
    
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/lwhtgys.js?_${.now?long}"></script>
</body>
</html>