<!DOCTYPE html>
<html>
<head>
    <title>项目发票管理</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
<span id="syssqr" style="display:none;">{{user.username}}</span>

    <div v-show="showList">
        <div class="grid-btn">
         <div class="row" >
			<div>
				 <label class="form-inline" />项目名称：<input class="form-control"  type="text"  v-model="q.ssxmmc"  @keyup.enter="query">	
					<a class="btn btn-default form-inline" @click="query">查询</a>
			</div>
			</div>
			<#if shiro.hasPermission("sys:xmfpgl:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:xmfpgl:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:xmfpgl:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属项目</div>
                        <div class="col-sm-10">
                            <input type="text" readonly id="ssxmmc" class="form-control" v-model="xmfpgl.ssxm" placeholder="所属项目"/>
                        </div>
                    </div>
										
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">供应商名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmfpgl.gysmc" placeholder="供应商名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">合同名称</div>
                        <div class="col-sm-10">
                            <input type="text" id="htmc" class="form-control" v-model="xmfpgl.htmc" placeholder="合同名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票号码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmfpgl.fphm" placeholder="发票号码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmfpgl.fplx" placeholder="发票类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票税率</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmfpgl.fpsl" placeholder="发票税率"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票内容</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmfpgl.fpnr" placeholder="发票内容"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开票时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmfpgl.kpsj" placeholder="开票时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmfpgl.je" placeholder="金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">登记人</div>
                        <div class="col-sm-10">
                            <input type="text" readonly id="djr" class="form-control" v-model="xmfpgl.djr" placeholder="登记人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" v-model="xmfpgl.bz" placeholder="备注"></textarea>
                        </div>
                    </div>
									
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/xmfpgl.js?_${.now?long}"></script>
</body>
</html>