<!DOCTYPE html>
<html>
<head>
    <title>项目投标清单</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
          <div class="row" >
			<div>
				 <label class="form-inline" />物品名称：<input class="form-control"  type="text"  v-model="q.wpmc" @keyup.enter="query" >	
						
						<a class="btn btn-default form-inline" @click="query">查询</a>
			</div>
			</div>
			<#if shiro.hasPermission("sys:xmtbqd:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:xmtbqd:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:xmtbqd:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">系统名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.xtmc" placeholder="系统名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">设备编码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.sbbm" placeholder="设备编码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">推荐品牌</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.tjpp" placeholder="推荐品牌"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">投标品牌</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.tbpp" placeholder="投标品牌"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">物品名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.wpmc" placeholder="物品名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">单位</div>
                        <div class="col-sm-10">
<!--                             <input type="text" class="form-control" v-model="xmtbqd.dw" placeholder="单位"/>
 -->                       		<select class="form-control" name="" id="" v-model="xmtbqd.dw">
                       			<option value="台">台</option>
                       			<option value="件">件</option>
                       			<option value="个">个</option>
                       			<option value="条">条</option>
                       			<option value="公斤">公斤</option>
                       			<option value="米">米</option>
                       			<option value="箱">箱</option>
                       			<option value="卷">卷</option>
                       			<option value="套">套</option>
                       			<option value="包">包</option>
                       			<option value="副">副</option>
                       			<option value="双">双</option>
                       			<option value="只">只</option>
                       			<option value="片">片</option>
                       			<option value="台/年">台/年</option>
                       			<option value="批">批</option>
                       			<option value="块">块</option>
                       			<option value="项">项</option>
                       			<option value="捆">捆</option>
                       			<option value="根">根</option>
                       			<option value="对">对</option>
                       			<option value="芯">芯</option>
                       			<option value="㎡">㎡</option>
                       			<option value="点">点</option>
                       			<option value="瓶">瓶</option>
                       			<option value="樘">樘</option>
                       			<option value="节">节</option>
                       			<option value="路">路</option>
                       			<option value="支">支</option>
                       			<option value="组">组</option>
                       			<option value="座">座</option>
                       		
                       		</select>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">数量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.sl" placeholder="数量"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">单价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.dj" placeholder="单价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">排序</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.px" placeholder="排序"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">成本单价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.cbdj" placeholder="成本单价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">型号规格</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.xhgg" placeholder="型号规格"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">技术参数要求</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.jscsyq" placeholder="技术参数要求"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xmtbqd.bz" placeholder="备注"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/xmtbqd.js?_${.now?long}"></script>
</body>
</html>