<!DOCTYPE html>
<html>
<head>
    <title>质量安全检查</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<input type="hidden" id="filename"/>

    <div v-show="showList">
        <div class="grid-btn">
          <div class="row" >
			<div>
				 <label class="form-inline" />编号：<input class="form-control"  type="text"  v-model="q.bh" @keyup.enter="query" >	
				 <label class="form-inline" />文档名称：<input class="form-control"  type="text"  v-model="q.wdmc"  @keyup.enter="query">	
				 <label class="form-inline" />责任人：<input class="form-control"  type="text"  v-model="q.zrr" @keyup.enter="query" >	
				 <label class="form-inline" />审批状态：<input class="form-control"  type="text"  v-model="q.spzt"  @keyup.enter="query">		
					<a class="btn btn-default form-inline" @click="query">查询</a>
			</div>
			</div>
			<#if shiro.hasPermission("sys:zlaqjc:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:zlaqjc:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:zlaqjc:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="zlaqjc.bh" placeholder="编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">文档名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="zlaqjc.wdmc" placeholder="文档名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">责任人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="zlaqjc.zrr" placeholder="责任人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="zlaqjc.bz" placeholder="备注"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">附件</div>
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" v-model="zlaqjc.fj" placeholder="附件"/>
                            <a class="btn btn-primary" onclick="Modify('fj')">上传</a>
                            
                        </div>
                    </div>
											  
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
       <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            选择附件
                        </h4>
                    </div>
                    <div class="modal-body">
                     <div class="grid-btn">
                    	
							
                         <table id="fiGrid">
                         	<form id= "uploadForm" >  
						      <input type="hidden" id="scxmId"  />
 						      <p >上传文件： <input  type="file" name="file1" id="file1"  multiple="multiple"  /></p> 
 						     <p > <input  type="file" name="file2" id="file2"  multiple="multiple"  /></p> 
 						      	<p > <input   type="file" name="file3" id="file3"  multiple="multiple"  /></p>
 						      	<p > <input  type="file" name="file4" id="file4"  multiple="multiple"  /></p>
 						      	<p > <input   type="file" name="file5" id="file5"  multiple="multiple"  /></p>					      						    
							  <input type="button" name="button" value="添加附件" onclick="addInput()">
							<input type="button" name="button" value="删除附件" onclick="deleteInput()">
							<span id="upload"></span>
						</form> 
                         </table>
       					 <div id="fiGridPager"></div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" @click="doUpload" class="btn btn-primary">
                        		    确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal  $("input[name='FORMID']").val(); -->
        </div>
    
    
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/zlaqjc.js?_${.now?long}"></script>
</body>
</html>